.registerHeading {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0px;
    .headingText{
        color: #000080;
        font-size: 25px;
        font-weight: 600;
    }
}
.registerContent {
display: flex;
padding: 0px 45px;
.companyIntro {
    width: 45%;
    padding: 10px 30px;
}
.registerCard {
    width: 45%;
    .intro {
        color: orange;
        font-size: 25px;
        font-weight: 400;
    }
    .registerButton {
        width: 100%;
    }
}
}
