.registerHeading {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0px;
    .headingText{
        color: #000080;
        font-size: 25px;
        font-weight: 600;
    }
}
.registerContent {
display: flex;
padding: 0px 45px;
.companyIntro {
    width: 45%;
    padding: 10px 30px;
}
.registerCard {
    width: 45%;
    .intro {
        color: orange;
        font-size: 25px;
        font-weight: 400;
    }
    .registerButton {
        width: 100%;
    }
}
}

.companyObjective {
    border: 1px solid red;
    box-shadow: 10px 11px 7px -1px rgba(0,0,0,0.54);
-webkit-box-shadow: 10px 11px 7px -1px rgba(0,0,0,0.54);
-moz-box-shadow: 10px 11px 7px -1px rgba(0,0,0,0.54);
padding: 10px 14px;
width: 400px;
border-radius: 10px;
}
