    .footerList {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: flex-start;
        min-height: 50px;
        margin: 0 auto;
        width: 1128px;
    }
        .footerItem {
            font-size: 12px;
            line-height: 1.33333;
            font-weight: 400;
            color: rgba(0,0,0,0.6);
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            padding: 8px;
            position: relative;
        }
