.loginCard {
    display: flex;
    justify-content: center;
    align-items: center;
    .Card {
        position: absolute;
        top: 16%;
        right: 35px;
        width: 35%;
        .signInHeading{
            font-size: 28px;
            font-weight: 500;
            color: black;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .loginButton {
        width: 100%;
    }
}

.newToText {
    position: absolute;
    bottom: 20%;
    right: 15%;
    padding-top: 20px;
}

.footer  {
    position: absolute;
    width: 100%;
    bottom: 0px;
    .footerItem {
        margin: 10px;
    }
}

