.companyHead {
    p {
        margin:24px 0px;
    }
    display: flex;
    justify-content: center;
}
.headerContent {
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
}
.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginFormFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}
    .Card {
        box-shadow: 0 4px 12px rgba(0,0,0,0.15%);
        width: 400px;
        .signInHeading{
            font-size: 28px;
            font-weight: 500;
            color: black;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .loginButton {
        width: 100%;
        background-color: #0073b1;
        height: 52px;
        line-height: 52px;
        color: #fff;
         text-decoration: none;
         border: 0;
         border-radius: 28px !important;
         padding: 0 24px;
         &:hover {
             background-color: #004182 !important;
         }
    }

.footer  {
    position: absolute;
    width: 100%;
    bottom: 0px;
    .footerItem {
        margin: 10px;
    }
}

